:root {
  --white-pri: rgb(241, 241, 241);
  --white-sec: #e2e2e2;
  --black-pri: #35383f;
  --black-sec: #3a3b36;
  --brand-primary: #fe5f01;
  --brand-secondary: #f52428;
  --brand-blue-dark: #25272c;
  --border-radius: 30px;
  --brand-gradient: linear-gradient(35deg, var(--brand-secondary) 10%, var(--brand-primary) 93%);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: initial;
  font-family: sans-serif;
}

nav .logo img {
  width: 4rem;
  height: 4rem;
}

nav .logo span h2 {
  margin: 0.9rem 1rem;
  padding: 0;
  margin-left: 1rem;
  font-size: xx-large;
  font-family: monospace;
}

nav .logo {
  display: flex;
  justify-content: space-around;
}
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 30%;
}

nav a {
  text-decoration: none;
  color: var(--black-pri);
  font-family: "Courier New", Courier, monospace;
  margin: 0 0.8rem;
  font-size: 1rem;
}

nav a:hover {
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  transition: all ease 200ms;s
}

nav a:focus {
  color: var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
}

nav li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}
